@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import './colors.css';

/* Different Spaces */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Manrope', sans-serif;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  scroll-behavior: smooth;
}

.main {
  position: relative;
  z-index: 0;
  overflow: hidden;
  min-height: calc(100vh - 120px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  padding: 0 2rem;
}

/* Tags */

a:visited {
  color: inherit;
  text-decoration: none;
}